<div class="serie">
    <br>
    <br>
    <br>
    <hr class="m-0" style='padding-bottom: 6px; opacity: inherit;'>

    <div class="card bg-dark bg-gradient col-12 col-sm-12 col-md-6 col-lg-3" style="width: 100%;">
        <img src="/assets/img/thewitcher.jpg" height="680" class="card-img-top" alt="content image">
        <div class="card-body text-center">
            <h5 class="card-title">The Witcher</h5>
            <p class="card-text">Geralt de Rívia, um mutante caçador de monstros, sai em busca de seu destino em um mundo turbulento, onde as pessoas podem ser mais perversas que as criaturas selvagens.</p>
            <button class="btn btn-warning bg-gradient card-btn-bottom" style='color: red;'><b>Download</b></button>
        </div>
    </div>
</div>
<br>