<!--Navigation-->

<nav class="menu navbar justify-content-center navbar-dark bg-dark bg-gradient">
    <img src="/assets/img/yoda-sith.jpg" alt="Yoda image" height="55" width="55" />

    <span class="navbar-brand ms-4 p-0 h0">

        <b>
            <h2> Jedi Torrent</h2>
        </b>
    </span>

    <ul class="nav justify-content-end ms-3">
        <li class="nav-home">
            <a class="nav-link active" aria-current=" page " [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-filme ">
            <a class="nav-link a " [routerLink]="['/movies']">Filmes</a>
        </li>
        <li class="nav-serie ">
            <a class="nav-link a" [routerLink]="['/series']">Séries</a>
        </li>
        <li class="nav-anime ">
            <a class="nav-link a" [routerLink]="['/animes']">Animes</a>
        </li>
        <li class="nav-feature ">
            <a class="nav-link a" [routerLink]="['/feature-data-binding']">Features</a>
        </li>
    </ul>
    <img src="https://img.icons8.com/color/48/000000/lightsaber.png " />
</nav>

<!--Fim Navigation-->