<div class="movie">
    <br>
    <br>
    <br>
    <hr class="m-0" style='padding-bottom: 6px; opacity: inherit;'>

    <div class="card bg-dark bg-gradient col-12 col-sm-12 col-md-6 col-lg-3" style="width: 100%;">
        <img src="/assets/img/liga.png" height="656" class="card-img-top" alt="content image">
        <div class="card-body text-center">
            <h5 class="card-title">Justice League</h5>
            <p class="card-text">Impulsionado pela restauração de sua fé na humanidade e inspirado pelo ato altruísta do Superman, Bruce Wayne convoca sua nova aliada Diana Prince para o combate contra um inimigo ainda maior, recém-despertado. Juntos, Batman e Mulher-Maravilha
                buscam e recrutam com agilidade um time de meta-humanos, mas mesmo com a formação da liga de heróis sem precedentes o ataque ao planeta ainda pode ser catastrófico.</p>
            <button class="btn btn-warning bg-gradient card-btn-bottom" style='color: red;'><b>Download</b></button>
        </div>
    </div>
</div>
<br>