<div class="anime">
    <br>
    <br>
    <br>
    <hr class="m-0" style='padding-bottom: 6px; opacity: inherit;'>

    <div class="card bg-dark bg-gradient col-12 col-sm-12 col-md-6 col-lg-3" style="width: 100%;">
        <img src="/assets/img/onePunch.jpg" height="680" class="card-img-top" alt="content image">
        <div class="card-body text-center">
            <h5 class="card-title">One Punch Man</h5>
            <p class="card-text">One Punch-Man (ワンパンマン Wanpanman, lit. ... One Punch-Man conta a história de Saitama, um super-herói extremamente poderoso, que se entediou com a ausência dos desafios nas suas lutas contra o mal e procura encontrar um oponente digno.</p>
            <button class="btn btn-warning bg-gradient card-btn-bottom" style='color: red;'><b>Download</b></button>
        </div>
    </div>
</div>
<br>