<hr class="m-0" style='padding-bottom: 3px; opacity: inherit;'>

<div style="width:100%; margin: auto;" class="row">

    <div style='border-width: 4px !important; border-color: red !important;' class="card-fluid border bg-gradient col-12 col-sm-12 col-md-6 col-lg-3" *ngFor="let anime of animes">
        <img [src]="item.image" height="147" class="card-img-top" alt="Image Content">
        <div class="card-body text-center">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text" style="color: red; font-size: large;">{{synopsis}}</p>
            <button class="btn btn-warning bg-gradient card-btn-bottom" style='color: red; margin-bottom: auto;'><b>Saber mais</b></button>
        </div>
    </div>
</div>